workspace/training_demo/models/effDet/train/events.out.tfevents.1614342849.psr0vefdc.2977.18701.v2 filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/pre_trained_model/centernet_r filter=lfs diff=lfs merge=lfs -text
