workspace/training_demo/pre_trained_model/centernet_r filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/pre_trained_model/centernet_resnet50_v1_fpn_512x512_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/pre_trained_model/centernet_resnet50_v1_fpn_512x512_coco17_tpu-8/* filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/models/centernet/ckpt-* filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/pre_trained_model/centernet_resnet50_v1_fpn_512x512_coco17_tpu-8/saved_model/variables/variables.* filter=lfs diff=lfs merge=lfs -text
workspace/training_demo/pre_trained_model/centernet_resnet50_v1_fpn_512x512_coco17_tpu-8/checkpoint/ckpt-0.* filter=lfs diff=lfs merge=lfs -text
