# CenterNet meta-architecture from the "Objects as Points" [1] paper
# with the ResNet-v2-101 backbone. The ResNet backbone has a few differences
# as compared to the one mentioned in the paper, hence the performance is slightly worse.
# [1]: https://arxiv.org/abs/1904.07850

# Modified: 18.03.21, VJH

model {
  center_net {
    num_classes: 1
    feature_extractor {
      type: "resnet_v1_50_fpn"
    }
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 224
        max_dimension: 224
        pad_to_max_dimension: true
      }
    }
    object_detection_task {
      task_loss_weight: 1.0
      offset_loss_weight: 1.0
      scale_loss_weight: 0.1
      localization_loss {
        l1_localization_loss {
        }
      }
    }
    object_center_params {
      object_center_loss_weight: 1.0
      min_box_overlap_iou: 0.7
      max_box_predictions: 80
      classification_loss {
        penalty_reduced_logistic_focal_loss {
          alpha: 2.0
          beta: 4.0
        }
      }
    }
  }
}

train_config: {
  batch_size: 8
  num_steps: 2000
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_adjust_brightness {
    }
  }

  optimizer {
    adam_optimizer: {
      epsilon: 1e-7  # Match tf.keras.optimizers.Adam's default.
      learning_rate: {
        cosine_decay_learning_rate {
          learning_rate_base: 1e-3
          total_steps: 10000
          warmup_learning_rate: 2.5e-4
          warmup_steps: 1500
        }
      }
    }
    use_moving_average: false
  }
  max_number_of_boxes: 50
  unpad_groundtruth_tensors: false

  #fine_tune_checkpoint_version: V2
  #fine_tune_checkpoint: "PATH_TO_BE_CONFIGURED"
  #fine_tune_checkpoint_type: "classification"
  use_bfloat16: false
}

train_input_reader: {
  label_map_path: "/../../IRSTD/workspace/data/label_map.pbtxt"
  tf_record_input_reader {
    input_path: "/../../IRSTD/workspace/data/train.record"
  }
}

eval_config: {
	num_examples:268
	max_evals: 10
}

eval_input_reader: {
  label_map_path: "/../../IRSTD/workspace/data/label_map.pbtxt"
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "/../../IRSTD/workspace/data/test.record"
  }
}
